# coding: utf-8

"""
    ESP Documentation

    The Evident Security Platform API (version 2.0) is designed to allow users granular control over their Amazon Web Service security experience by allowing them to review alerts, monitor signatures, and create custom signatures.

    OpenAPI spec version: v2_sdk
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import sys
import os
import re

# python 2 and python 3 compatibility library
from six import iteritems

from ..configuration import Configuration
from ..api_client import ApiClient


class ReportExportApi(object):
    """
    NOTE: This class is auto generated by the swagger code generator program.
    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        config = Configuration()
        if api_client:
            self.api_client = api_client
        else:
            if not config.api_client:
                config.api_client = ApiClient()
            self.api_client = config.api_client

    def request_file(self, report_ids, requested_format, **kwargs):
        """
        Export all alerts for a set of reports to a file
        <p>An email will be sent to the calling user once the file is ready for download.</p> <p>The URL and filename attributes will be blank on create. When exporting is complete these attributes will be filled in and can be viewed using the show action.</p>
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.request_file(report_ids, requested_format, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param list[int] report_ids: An array of report IDs to export alerts for (required)
        :param str requested_format: The file format of the export. Valid values are csv, json, pdf (required)
        :param dict(str, str) filter: Params used to filter the alerts that will be exported
        :return: ExportedReport
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.request_file_with_http_info(report_ids, requested_format, **kwargs)
        else:
            (data) = self.request_file_with_http_info(report_ids, requested_format, **kwargs)
            return data

    def request_file_with_http_info(self, report_ids, requested_format, **kwargs):
        """
        Export all alerts for a set of reports to a file
        <p>An email will be sent to the calling user once the file is ready for download.</p> <p>The URL and filename attributes will be blank on create. When exporting is complete these attributes will be filled in and can be viewed using the show action.</p>
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.request_file_with_http_info(report_ids, requested_format, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param list[int] report_ids: An array of report IDs to export alerts for (required)
        :param str requested_format: The file format of the export. Valid values are csv, json, pdf (required)
        :param dict(str, str) filter: Params used to filter the alerts that will be exported
        :return: ExportedReport
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['report_ids', 'requested_format', 'filter']
        all_params.append('callback')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method request_file" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'report_ids' is set
        if ('report_ids' not in params) or (params['report_ids'] is None):
            raise ValueError("Missing the required parameter `report_ids` when calling `request_file`")
        # verify the required parameter 'requested_format' is set
        if ('requested_format' not in params) or (params['requested_format'] is None):
            raise ValueError("Missing the required parameter `requested_format` when calling `request_file`")


        collection_formats = {}

        resource_path = '/api/v2/reports/export/files.json_api'.replace('{format}', 'json_api')
        path_params = {}

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}
        if 'filter' in params:
            form_params.append(('filter', params['filter']))
        if 'report_ids' in params:
            form_params.append(('report_ids', params['report_ids']))
            collection_formats['None'] = 'csv'
        if 'requested_format' in params:
            form_params.append(('requested_format', params['requested_format']))

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/vnd.api+json'])

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/vnd.api+json'])

        # Authentication setting
        auth_settings = []

        return self.api_client.call_api(resource_path, 'POST',
                                        path_params,
                                        query_params,
                                        header_params,
                                        body=body_params,
                                        post_params=form_params,
                                        files=local_var_files,
                                        response_type='ExportedReport',
                                        auth_settings=auth_settings,
                                        callback=params.get('callback'),
                                        _return_http_data_only=params.get('_return_http_data_only'),
                                        _preload_content=params.get('_preload_content', True),
                                        _request_timeout=params.get('_request_timeout'),
                                        collection_formats=collection_formats)

    def send_to_integration(self, integration_id, report_ids, **kwargs):
        """
        Export all alerts on reports to an integration
        
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.send_to_integration(integration_id, report_ids, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param int integration_id: The ID of the integration to send the alerts to (required)
        :param list[int] report_ids: An array of report IDs (required)
        :param dict(str, str) filter: Params used to filter the alerts that will be exported
        :return: Meta
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.send_to_integration_with_http_info(integration_id, report_ids, **kwargs)
        else:
            (data) = self.send_to_integration_with_http_info(integration_id, report_ids, **kwargs)
            return data

    def send_to_integration_with_http_info(self, integration_id, report_ids, **kwargs):
        """
        Export all alerts on reports to an integration
        
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.send_to_integration_with_http_info(integration_id, report_ids, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param int integration_id: The ID of the integration to send the alerts to (required)
        :param list[int] report_ids: An array of report IDs (required)
        :param dict(str, str) filter: Params used to filter the alerts that will be exported
        :return: Meta
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['integration_id', 'report_ids', 'filter']
        all_params.append('callback')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method send_to_integration" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'integration_id' is set
        if ('integration_id' not in params) or (params['integration_id'] is None):
            raise ValueError("Missing the required parameter `integration_id` when calling `send_to_integration`")
        # verify the required parameter 'report_ids' is set
        if ('report_ids' not in params) or (params['report_ids'] is None):
            raise ValueError("Missing the required parameter `report_ids` when calling `send_to_integration`")


        collection_formats = {}

        resource_path = '/api/v2/reports/export/integrations.json_api'.replace('{format}', 'json_api')
        path_params = {}

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}
        if 'filter' in params:
            form_params.append(('filter', params['filter']))
        if 'integration_id' in params:
            form_params.append(('integration_id', params['integration_id']))
        if 'report_ids' in params:
            form_params.append(('report_ids', params['report_ids']))
            collection_formats['None'] = 'csv'

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/vnd.api+json'])

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/vnd.api+json'])

        # Authentication setting
        auth_settings = []

        return self.api_client.call_api(resource_path, 'POST',
                                        path_params,
                                        query_params,
                                        header_params,
                                        body=body_params,
                                        post_params=form_params,
                                        files=local_var_files,
                                        response_type='Meta',
                                        auth_settings=auth_settings,
                                        callback=params.get('callback'),
                                        _return_http_data_only=params.get('_return_http_data_only'),
                                        _preload_content=params.get('_preload_content', True),
                                        _request_timeout=params.get('_request_timeout'),
                                        collection_formats=collection_formats)

    def show_file_details(self, id, **kwargs):
        """
        Show a single Exported Report
        The URL provided is temporary and will expire shortly after the request. To download the exported file you will need to follow the URL provided.
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.show_file_details(id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param int id: Exported Report ID (required)
        :return: ExportedReport
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('callback'):
            return self.show_file_details_with_http_info(id, **kwargs)
        else:
            (data) = self.show_file_details_with_http_info(id, **kwargs)
            return data

    def show_file_details_with_http_info(self, id, **kwargs):
        """
        Show a single Exported Report
        The URL provided is temporary and will expire shortly after the request. To download the exported file you will need to follow the URL provided.
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.show_file_details_with_http_info(id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param int id: Exported Report ID (required)
        :return: ExportedReport
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['id']
        all_params.append('callback')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method show_file_details" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'id' is set
        if ('id' not in params) or (params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `show_file_details`")


        collection_formats = {}

        resource_path = '/api/v2/reports/export/files/{id}.json_api'.replace('{format}', 'json_api')
        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/vnd.api+json'])

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/vnd.api+json'])

        # Authentication setting
        auth_settings = []

        return self.api_client.call_api(resource_path, 'GET',
                                        path_params,
                                        query_params,
                                        header_params,
                                        body=body_params,
                                        post_params=form_params,
                                        files=local_var_files,
                                        response_type='ExportedReport',
                                        auth_settings=auth_settings,
                                        callback=params.get('callback'),
                                        _return_http_data_only=params.get('_return_http_data_only'),
                                        _preload_content=params.get('_preload_content', True),
                                        _request_timeout=params.get('_request_timeout'),
                                        collection_formats=collection_formats)
